# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log
error.log
npm-debug.log*

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Build Output
# ==========================
dist/
build/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/

.env.*
!.env.example